/* Reset by Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 15px;
}

body {
  background: hsl(36, 100%, 99%);
  color: hsl(236, 13%, 42%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
  line-height: 1.7;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
a:focus {
  text-decoration: underline;
  outline: none;
}
a:hover, a:focus {
  color: hsl(5, 85%, 63%);
}

button {
  border-radius: 0px;
  border-width: 0px;
  outline-style: none;
  background: none;
  cursor: pointer;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
}

.wrapper {
  max-width: 1110px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
header > img {
  height: 2rem;
}
header > button {
  order: 3;
}
header #mainNav {
  position: static;
}
header #mainNav:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  transition: background-color 0.2s;
}
header #mainNav .mainMenu {
  background: hsl(36, 100%, 99%);
  width: auto;
  height: auto;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: -70vw;
  bottom: 0px;
  left: 101vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  transition: all 0.2s;
}
header #mainNav .mainMenu ul {
  font-size: 1.2rem;
  padding-left: 2rem;
  margin-top: 7rem;
  color: hsl(240, 100%, 5%);
}
header #mainNav .mainMenu ul li {
  margin-bottom: 0.8rem;
}
header #mainNav .mainMenu .close-menu {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
}
header #mainNav.menuOpen:after {
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
header #mainNav.menuOpen .mainMenu {
  left: 30vw;
  right: 0vw;
}

.presentation {
  margin-bottom: 70px;
}

.main-visual-container {
  margin-bottom: 1rem;
}

h1 {
  color: hsl(240, 100%, 5%);
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1em;
  margin: 0rem 0rem 1rem;
}

.aside-title p {
  margin-bottom: 1rem;
}

.cta {
  background: hsl(5, 85%, 63%);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.6em 1.5em;
  letter-spacing: 0.15rem;
}
.cta:hover, .cta:focus {
  background: black;
  transition: all 300ms;
}

aside {
  background: hsl(240, 100%, 5%);
  color: hsl(233, 8%, 79%);
  padding: 1rem 20px 2rem;
  margin-bottom: 70px;
}
aside h2 {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 1.5rem;
}
aside h3 {
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
aside ul {
  padding-left: 0px;
  margin: 0;
}
aside li {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
aside li:last-of-type {
  border-bottom-width: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
aside a:hover, aside a:focus {
  color: hsl(35, 77%, 62%);
}

footer {
  margin-bottom: 80px;
}
footer ol {
  padding-left: 0px;
  margin: 0px;
}
footer li {
  margin-bottom: 2rem;
  padding-left: 125px;
  position: relative;
  min-height: 125px;
}
footer li > img {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}
footer li h2 {
  font-size: 2rem;
  color: hsl(233, 8%, 79%);
  line-height: 1;
  margin-bottom: 1rem;
}
footer li h3 {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 0.3rem;
  color: hsl(240, 100%, 5%);
}

@media screen and (min-width: 500px) {
  header > img {
    height: 42px;
  }
  header .mobile-only {
    display: none;
  }
  header #mainNav {
    position: static;
    display: flex;
    align-items: center;
  }
  header #mainNav .mainMenu {
    position: static;
    display: block;
  }
  header #mainNav .mainMenu ul {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    color: hsl(236, 13%, 42%);
  }
  header #mainNav .mainMenu ul li {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 40px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  aside h2 {
    font-size: 2.7rem;
    font-weight: 600;
  }
  .presentation {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
  .main-visual-container {
    grid-column: span 2;
    margin-bottom: 0px;
  }
  h1 {
    margin-bottom: 0px;
    font-size: 4rem;
  }
  .aside-title p {
    margin-bottom: 35px;
  }
  footer {
    margin-bottom: 0px;
  }
  footer ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
  footer ol li {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
