.main-content{
    @include large-screen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: $grid-gap;
    }
}

.main-section{
    margin-bottom: 70px;

    @include large-screen {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $grid-gap;
        row-gap: $grid-gap;
    }
}

.main-visual-container{
    margin-bottom: 1rem;

    @include large-screen {
        grid-column: span 2;
        margin-bottom: 0px;
    }
}

h1{
    color: $dark-blue;
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 1em;
    margin: 0rem 0rem 1rem;

    @include large-screen {
        margin-bottom: 0px;
        font-size: 4rem;
    }
}

.beside-main-h1 p{
    margin-bottom: 1rem;

    @include large-screen {
        margin-bottom: 35px;
    }
}

.cta{
    background: $red;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.6em 1.5em;
    letter-spacing: 0.15rem;

    &:hover, &:focus{
        background: black;
        transition: all 300ms;
    }
}

.main-aside{
    background: $dark-blue;
    color: $blueish;
    padding: 1rem 20px 2rem;
    margin-bottom: 70px;

    h2{
        color: $orange;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1em;
        margin-bottom: 1.5rem;
    }

    h3{
        color: $white;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    ul{
        padding-left: 0px;
        margin:0;
    }

    li{
        border-bottom: 1px solid $blue;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;

        &:last-of-type{
            border-bottom-width: 0px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }
    a:hover, a:focus{
        color: $orange;
    }

    @include large-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 2.7rem;
            font-weight: 600;
        }
    }
}